<h2>Welcome to Pension Management System</h2>



<div class="c bg-image">
  <br>
  <div class=" form-wrapper border border-5 border-dark  aa border-0 shadow-sm bg-light bg-gradient col-xl-8 mx-auto">
    <div class="text-center">
      <h6>Welcome to</h6>
      <h4><b>Pension Management System</b></h4>
      <p>We aid customers to process their pension amount</p>
      <br>
      <br>
    </div>
    <!-- 
  
 -->
    <div class="container">
      <div class="row ">

        <div class="col zoom text-center mx-auto">

          <img src="./assets/home1.gif" alt="Lights" style="width:100%">
          <div class="caption">
            <br>
            <h5>Pension Portal</h5>
            <h6>To access data of Pensioners</h6>
          </div>

        </div>
        <div class="col zoom text-center mx-auto">

          <img src="./assets/home2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <br>

            <h5>Calculate Pension</h5>
            <h6>To calculate your Pension</h6>
          </div>

        </div>

        <div class="col zoom text-center mx-auto">

          <img src="./assets/home3.jpg" alt="Fjords" style="width:100%">
          <div class="caption ">
            <br>

            <h5>Pension Disbursement</h5>
            <h6>To disbuse your pension</h6>
          </div>

        </div>
      </div>
    </div>
    <br>
    <br>
  </div>