<section class="intro">
  <div class="bg-image" style="background-image: url(../../assets/images/reset-bg.webp)">
    <div class="mask d-flex align-items-center h-100 mb-4">
      <div class="container h-100 my-5">
        <div class="row justify-content-center h-100 my-5">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 my-5">
            <div class="card h-90 gradient-custom" style="border-radius: 1rem;">
              <div class="card-body p-5 ">
                <div>
                  <div class="text-center pt-1">
                    <h3 class="fw-bold mb-4">Reset Password Here</h3>
                  </div>
                  <div>
                    <form (ngSubmit)="Form.form.valid && forgotPassword()" #Form="ngForm" [formGroup]='exForm'>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i> </span>
                          </div>
                          <input type="text" [(ngModel)]="userName" placeholder="Username" formControlName="userName"
                            class="form-control form-floating " />
                        </div>
                        <small *ngIf="exForm.get('userName')?.invalid && exForm.get('userName')?.touched"
                          class="text-danger">Username is Required</small>
                      </div>
                      <br>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i> </span>
                          </div>
                          <input type="password" [(ngModel)]="newPassword" formControlName="newPassword"
                            class="form-control form-floating" placeholder=" New Password">
                        </div>
                        <small *ngIf="exForm.get('newPassword')?.invalid && exForm.get('newPassword')?.touched"
                          class="text-danger"> New Password is Required</small>
                      </div>
                      <br>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i> </span>
                          </div>
                          <input type="password" [(ngModel)]="confirmPassword" formControlName="confirmPassword"
                            class="form-control form-floating" placeholder="Confirm New Password">
                        </div>
                        <small *ngIf="exForm.get('confirmPassword')?.invalid && exForm.get('confirmPassword')?.touched"
                          class="text-danger">Confirm Password is Required</small>
                          <small *ngIf="exForm.get('confirmPassword')?.touched && newPassword != confirmPassword"
                          class="text-danger">,Password and Confirm Password must be same </small>
                      </div>
                      <br>
                      <div class="text-center py-3">
                        <button class="btn btn-primary btn-lg btn-rounded px-5" type="submit"
                          (click)="validateForm()">Reset</button>
                      </div>
                      <div class="text-center">
                        <p class="mb-2"><a routerLink="/login" class="fw-bold">Go to Login page</a></p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>